@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    width:384px ;
    height:600px;
    color:#dadada;
    overflow: scroll;
    background-size: cover;
    background-position: 50% 50%;
   
    /* cursor: none; */
}

#loader { 
    border: 10px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 10px solid #b6362d; 
    width: 40px; 
    height: 40px; 
    animation: spin 2s linear infinite; 
} 

h3{
    text-align: center;
    text-transform: uppercase;
    color: #bebaba;
    letter-spacing: 5px;
    font-weight:300;
    margin:65% 5%;
}
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 


.nav{
    height:10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-position: 50% 50%;
}
.llogo{
    background:url(./assets/logo.png);
    width: 70%;
    height: 20%;
    margin: 10% 15%;
    background-size: cover;
    background-position: 50% 50%;
}
.logo{
    background:url(./assets/logo.png);
    position: relative;
    top: 17%;
    width: 20%;
    height: 60%;
    background-size: cover;
    background-position: 50% 50%;
}

#auth{
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin: 0% ;
    color: #00A8E1;
    animation: viewauth 1s ease-in-out;
}

@keyframes viewauth{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.card{
 
    height:fit-content;
    width: 100%;
    transition: 0.4s;
    display: flex;
    margin:2% 0;
    
}
.more{
    height:fit-content;
    width: 100%;
    transition: 0.4s;
    display: flex;
    text-align: justify;
    margin:2% 0%;
}

.more p{
    text-align: justify;
    padding: 3%;
}

@keyframes view{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

ul{
    float: left;
    padding-left:3% ;
    list-style: none;
    font-size: 100%;
    color: #b6362d;
    text-transform: uppercase;
    animation: view2 4s ease-in-out;
}

@keyframes view2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

 li{
     display:inline-flexbox;
     padding: 2%;
     font-size: 100%;
     width: 100%;
     text-transform: uppercase;
     color: #ffffff;
 }

.card:hover{
    background-color: #252525;
    transition: 0.4s;
    cursor: pointer;
}

.card:hover .pbox{
    border: 3px solid #00A8E1;
    transition: 0.4s;
    cursor: pointer;
}

.trend{
    position: relative;
    display: inline-block;
    border: 3px solid #D7D8D7;
    margin: 3%;
    height: 35%;
    padding: 1%;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
}

.pbox{
   
    background-size:cover;
    background-position: 50% 50%;
    padding: 2%;
    width: 35%;
    text-align: center ;
    font-size: 70%;
    color: #d7d8d7;
    margin: 2% 0%;
    margin-left: 5%;
    text-transform: uppercase;
    position: relative;
    top: 5%;
    border: 3px solid #D7D8D7;
    box-sizing: border-box;
    transition: 0.4s;
    animation: view 1s ease-in-out;
}

.pbox p{
    opacity: 0.1;
    font-weight: 500;
    margin-top:70%;
    letter-spacing: 7px;
    transition: 0.4s;
}

.pbox:hover p{
    opacity: 0.9;
    text-align:center;
    color: white;
    text-transform: uppercase;
    transition: 0.4s;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#0a0a0ade;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b6362d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00A8E1; 
  }

footer{
    margin: 2%;
    position: relative;
    bottom: 0%;
    width: 95%;
    background-color: #db2626;
    font-weight: 200;
    transition: 0.4s;
    color: white;
    
}

footer:hover{
    background-color: #00A8E1;
    transition: 0.4s;
    cursor: pointer;
}

h5{
    color: white;
    font-weight: 200;
    padding: 2%;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}